<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-cloud"></i> Know your weather
      </h1>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="name">
            <p>City:</p>
          </label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter city name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3">
          SUBMIT
        </button>
        <% include ./partials/messages %>
        <%= typeof temp != 'undefined' ? 'Temperature: ' + temp + '°C' : '' %> <br>
        <%= typeof country != 'undefined' ? 'Country: ' + country : '' %> <br>
        <%= typeof weather != 'undefined' ? 'Weather: ' + weather : '' %>
        <% if(typeof weather != 'undefined' && (weather == 'Rain' || weather == 'Drizzle')) {%>
        <div class=wrapper>
          <div class=cloudy>
            <div class=cloudy_left></div>
            <div class=cloudy_right></div>
          </div>
          <div class=rain>
            <div class=drop></div>
            <div class=drop></div>
            <div class=drop></div>
            <div class=drop></div>
            <div class=drop></div>
          </div>
          <div class=surface>
            <div class=hit></div>
            <div class=hit></div>
            <div class=hit></div>
            <div class=hit></div>
            <div class=hit></div>
          </div>
        </div>
        <% } %>
        <% if(typeof weather != 'undefined' && weather == 'Clouds') {%>
        <div id="clouds-wrap">
          <div class="x1">
            <div class="cloud"></div>
          </div>

          <div class="x2">
            <div class="cloud"></div>
          </div>

          <div class="x3">
            <div class="cloud"></div>
          </div>

          <div class="x4">
            <div class="cloud"></div>
          </div>

          <div class="x5">
            <div class="cloud"></div>
          </div>
        </div>
        <% } %>
        <% if(typeof weather != 'undefined' && weather == 'Clear') {%>
        <div id="sun">
          <div id="rings">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <% } %>
      </form>
    </div>
  </div>
</div>